*{
    background-color: rgb(76, 130, 223); 
}

/* top image stylling */
.img_top{
    width: 1520px;
    height: 400px;
    margin-left: -1%;
    object-fit: cover;
}

/* The location gallery settings to make it row*/
.img_locations{
    display: flex;
    flex-direction: row;
}
/* styling the images */
.img_gallery_location{
    width: 50px;
    height: 340px;
    object-fit: cover;
    border-radius: 40px;
    margin-right: 10px;
    cursor: pointer;
}
/* making the transion for the img in and out*/
.img_gallery_location{
    transition: width 0.5s ease-in-out;
}
/*setting the size of the img when hovering*/
.img_gallery_location:hover{
    width: 400px;
}