*{
    background-color: rgb(76, 130, 223); 
}
/* navbar styling */
.nav_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav_bar li{
    display: inline;
    margin-right: 20px;
}
.navbar a {
    text-decoration: none;
    color: #fff; 
  }
/* top image stylling */
.img_top{
    width: 1520px;
    height: 400px;
    margin-left: -1%;
    object-fit: cover;
}
/* styling container to flex row the images */
.container{
    display: flex;
    flex-direction: row;
}
.gallery img{
    width: 340px;
    height: auto;
    border: 10px solid white;
    border-width: 2px 4px;
    border-radius: 40px;
}
/* text style */
.description{
    text-align: center;
}
/* styling the holy sites gallery  */
.gallery{
   margin: 10px;    
}

/* The location gallery settings to make it row */
.img_locations{
    display: flex;
    flex-direction: row;
}
/* styling the images */
.img_gallery_location{
    width: 50px;
    height: 340px;
    object-fit: cover;
    border-radius: 40px;
    margin-right: 10px;
    cursor: pointer;
}
/* making the transion for the img in and out */
.img_gallery_location{
    transition: width 0.5s ease-in-out;
}
/* setting the width of the img when hovering */
.img_gallery_location:hover{
    width: 400px;
}